{% extends 'admin_temp/base.html' %}
{% load static %}
{% block title %} Add product Variant {% endblock %}
{% block body %}

<style>
    .additional-images-container {
        max-height: 200px;
        overflow-y: auto;
        border: 1px solid #ccc;
        padding: 5px;
        margin-bottom: 10px;
    }

    .existing-image {
        margin-bottom: 5px;
    }
</style>

<section class="content-main">
    {% include 'admin_temp/general-alerts/alerts.html' %}
    <div class="row">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title mb-4">Edit Product Variant</h2>
                
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Product Details</h4>
                </div>
                <div class="card-body">
                    <form action="{% url "product_mng:product_variant_update" product_variant_slug=product_variant.product_variant_slug  %}" method="POST"  enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="product" value="{{ product_variant.product.id }}">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label for="{{form.product_name.id_for_label}}" class="form-label">Product name</label>
                                    <input value="{{product_variant.product.get_product_name}}" type="text" class="form-control" readonly>                   
                                </div>

                                <div class="mb-4">
                                    <label for="{{ form.sku_id.id_for_label }}" class="form-label">SKU ID</label>
                                    {{ form.sku_id }}
                                </div>
                            </div>
                        </div>


                        {% for attribute_name, attribute_values in attribute_dict.items %}
                            <div class="mb-4">
                                <label for="attributes_{{ forloop.counter }}" class="form-label">{{ attribute_name }}</label>
                                <select class="form-select" name="attributes_{{ forloop.counter }}">
                                   
                                    {% for attribute_value in attribute_values %}
                                        <option value="{{ attribute_value.id }}" {% if attribute_value.id in selected_attribute_values %}selected{% endif %}>
                                            {{ attribute_value.attribute_value }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endfor %}

                        <div class="mb-4">
                            <label for="{{form.max_price.id_for_label}}" class="form-label">max Price</label>
                            {{form.max_price}}
                        </div>
                        <div class="mb-4">
                            <label for="{{form.sale_price.id_for_label}}" class="form-label">Sale Price</label>
                            {{ form.sale_price }}
                        </div>

                        <div class="mb-4">
                            <label for="{{form.stock.id_for_label}}" class="form-label">Stock</label>
                            {{ form.stock }}
                        </div>
                        <div>
                            <label for="">Thumbnail</label> <br>
                           {{form.thumbnail_image}}
                        </div>
                        <div class="mt-2">
                            <label for="">Add additional images</label>
                            <input class="form-control" multiple type="file" name="additional_images" accept=".jpg,.jpeg,.webp,.png">
                        </div>
                        <div class="card mb-4">
                            <div class="mb-4">
                                <button type="submit" class="btn btn-primary btn-sm rounded col-lg-12">Update Product Variant</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Thumbnail</h4>
                </div>
                <div class="card-body">
                    <div class="input-upload">
                        {% if product_variant.thumbnail_image %}
                            <div class="existing-thumbnail">
                                <img id="existing-thumbnail" src="{{ product_variant.thumbnail_image.url }}" alt="Thumbnail" class="img-thumbnail" style="max-width: 200px; max-height: 200px;">
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <h4>Additional images</h4>
                </div>
                <div class="card-body">

                    <div class="additional-images-container">
                        {% if current_additional_images %}
                            <h5>Current Additional Images</h5>
                            {% for image in current_additional_images %}
                                <div class="existing-image" data-image-id="{{ image.id }}">
                                    <img src="{{ image.image.url }}" alt="Additional Image" class="img-thumbnail" style="max-width: 100px; max-height: 100px;">
                                
                                    <a href="{% url 'product_mng:delete_product_variant_images' product_variant_slug=image.product_variant.product_variant_slug id=image.id %}">
                                        <button type="submit" class="btn btn-sm btn-danger remove-additional-image" data-image-id="{{ image.id }}">Remove</button>
                                    </a>
                                </div>                         
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}