{% extends 'admin_temp/base.html' %}
{% load static %}
{% block title %} Variant list {% endblock %}
{% block  body %}

<style>
    .dropdown-custom{
        background-color: rgb(207, 200, 200);
    }
</style>

<section class="content-main">
    {% include 'admin_temp/general-alerts/alerts.html' %}
    <div class="content-header">
        <div>
            <h4 class="content-title card-title">Available Variants</h4>
        </div>
        <div>
            <a class="dropdown-item" href="{% url 'product_mng:variant_list' product_id=product.id %}">View Variants</a>

        </div>
    </div>

    <div class="card mb-4">
        <header class="card-header">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-6 me-auto">
                    <form action="{% url 'product_mng:variant_list' product.id %}" method="get">
                        <input type="text" name="query" placeholder="Search..." class="form-control">
                        
                    
                </div>
                <div class="col-lg-4 col-md-2 col-6">
                    <button type="submit" class="btn btn-outline-primary">Search</button>
                </div>
                <div class="col-md-2 col-6">
                    <input type="date" value="02.05.2021" class="form-control">
                </div>

                <div class="col-md-2 col-6">
                    <select class="form-select">
                        <option selected>Status</option>
                        <option>Active</option>
                        <option>Disabled</option>
                        <option>Show all</option>
                    </select>
                </div>
            </div>
        </header> <!-- card-header end// -->

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Thumbnail image</th>
                            <th>Variant</th>  
                            <th>Stock</th>                                 
                            <th class="text-end">Is Active</th>
                            <th class="text-end">Action</th> 
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for product_variant in variants %}
                        <tr>
                            {% if product_variant.thumbnail_image %}
                            <td><img src="{{ product_variant.thumbnail_image.url }}" class="img-sm img-thumbnail" alt="Thumbnail image"></td>
                            {% else %}
                            <td><img src="" class="img-sm img-thumbnail" alt="Thumbnail image"></td>
                            {% endif %}
                            <td><a href="#"> <h6 class="mb-0">{{ product_variant.get_product_name }}</h6></a></td>
                            <td>{{product_variant.stock}}</td>
                            <td class="text-end">
                                <span class="badge rounded-pill {% if product_variant.is_active %} alert-success {% else %} alert-danger {% endif %}">
                                    {% if product_variant.is_active %} Active {% else %}Inactive {% endif %} </span>
                            </td>
                            <td class="text-end" >
                                <div class="dropdown">
                                    <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm text-secondary fw-bold font-sm"> 
                                        More
                                    </a>
                                    <div class="dropdown-menu dropdown-custom">
                                        <a class="dropdown-item" href="{% url 'product_mng:product_variant_update' product_variant.product_variant_slug %}">Edit</a>
                                        <a class="dropdown-item" href="{% url 'product_mng:product_variant_control' product_variant.id %}">{% if not product_variant.is_active %}Enable {% else %}Disable{% endif %}</a>
                                    </div>
                                </div> 
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>     
        </div> 
    </div> 
</section> 

{% endblock %}