{% extends 'user/base.html' %}
{% load static %}
{% block title %} Checkout {% endblock %}
{% block body %}

<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<main class="main">
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-sm-15">
                    <div class="toggle_info">
                        <span>
                            <i class="fi-rs-user mr-10"></i>
                            <span class="text-muted">Do you want to add a new Address?</span>
                            <a href="#AddNewAddress" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">
                                Click here to Add
                            </a>
                        </span>
                    </div>
                    <div class="panel-collapse collapse login_form" id="AddNewAddress">
                        <div class="panel-body">
                            <div class="login_wrap widget-taber-content bg-white background-white border-radius-5 p-4 mb-5 row">
                                <form method="post" action="{% url 'log:add_address' source='checkout' %}" >
                                    {% csrf_token %}
                                    <div class="form-group container-custom">
                                        <input type="text" name="first_name" class="text-box" placeholder="First Name">
                                    </div>
            
                                    <div class="form-group container-custom">
                                        <input type="text" name="last_name" class="text-box" placeholder="Last Name">
                                    </div>
            
                                    <div class="form-group container-custom">
                                        <input type="text" name="phone" class="text-box" placeholder="Phone">
                                    </div>
            
                                    <div class="form-group container-custom">
                                        <input type="email" name="email" class="text-box" placeholder="Email">
                                    </div>
            
                                     <div class="form-group container-custom">
                                        <input type="textarea" name="address_line_1" class="text-box" placeholder="Address/city">
                                    </div> 
            
                                    <div class="form-group container-custom">
                                        <input type="text" name="country" class="text-box" placeholder="Country">
                                    </div>
            
                                    <div class="form-group container-custom">
                                        <input type="text" name="state" class="text-box" placeholder="State">
                                    </div>
            
                                    <div class="form-group container-custom">
                                        <input type="text" name="city" class="text-box" placeholder="district">
                                    </div>
            
                                    <div class="form-group container-custom">
                                        <input type="text" name="pincode" class="text-box" placeholder="Pincode">
                                    </div>
                                    <div class="d-flex justify-content-center ">
                                        <div class="form-group">
                                            <label for="submit"></label>
                                            <button type="submit" id="submit" class="btn btn-success-light">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="toggle_info">
                        <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your code</a></span>
                    </div>
                    <div class="panel-collapse collapse coupon_form " id="coupon">
                        <div class="panel-body">
                            <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                            <div>
                                <h3>Available Coupons:</h3>
                                <table border="1">
                                    <thead>
                                        <tr>
                                            <th>Coupon Code</th>
                                            <th>Discount</th>
                                            <th>Minimum Amount</th>
                                            <th>Expiry Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for coupon in coupons %}
                                            <tr>
                                                
                                                <td style="color: rgb(110, 210, 63); font-weight: 600;">
                                                    {{coupon.coupon_code}}
                                                </td>
                                            
                                                <td>
                                                    {{coupon.discount}}
                                                </td>
                                                
                                                <td>
                                                    {{coupon.minimum_amount}}
                                                </td>
                                                <td>
                                                    {{coupon.valid_to}}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <form method="post" action="{% url 'log:apply_coupon' %}" id="coupon-form">
                                <div class="form-group">
                                    <label for="coupon-field"></label>
                                    <input type="text" id="coupon-field" placeholder="Enter Coupon Code..." name="coupon_field">
                                </div>
                                <div class="form-group">
                                    <button id="coupon-btn" class="btn btn-md" type="button" name="login">Apply Coupon</button>
                                    <button id="remove-coupon-btn" class="btn btn-md" style="display: none;">Remove Coupon</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        

            <form method="post" action="{% url 'order_mng:order_placed' %}" id="orderForm">

                {% csrf_token %}

                <div class="row">
                    <div class="col-12">
                        <div class="divider mt-50 mb-50"></div>
                    </div>
                </div>

                <div class="row">  
                    <div class="col-md-6">

                        <div class="order_review">
                            <div class="mb-20">
                                <h4>Select Your address</h4>
                            </div>
                            {% for address in address_list %}
                            <div class="border border-dark rounded pt-15 pb-20 mb-15 table-responsive order_table text-center row">
                                <div class="col-lg-11">
                                    <div>
                                        <div class="d-flex flex-column">
                                            <span class="mr-5 bold font-lg">{{ address.first_name }} {{ address.last_name }}</span>
                                            <span class="ml-5 mr-5"></span>
                                            <span class="ml-5">{{ address.phone }}</span>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <p>{{ address.address_line_1 }}</p>
                                        <div>
                                            <span>{{ address.city }}</span>
                                            <span class="mr-5"></span>
                                            <span>{{ address.state }}</span>
                                            <span class="mr-5"></span>
                                            <span>{{ address.country }}</span>
                                        </div>
                                        <span class="mr-5"></span>
                                        <span>Pin code: {{ address.pincode }}</span>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <label for="addressId{{ address.id }}"></label>
                                    <input type="radio" class="address-radio" id="addressId{{ address.id }}" name="address" value="{{ address.id }}" {% if address.is_default %}checked{% endif %}>
                                </div>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="order_review">
                            <div class="mb-20">
                                <h4>Your Orders</h4>
                        </div>
                        <div class="table-responsive order_table text-center">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="2">Product</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {% for cart_item in cart_items %}
                                    <tr>
                                        <td class="image product-thumbnail">
                                            <img src="{{cart_item.product_variant.thumbnail_image.url }}" alt="#">
                                        </td>
                                        <td>
                                            <h5><a href="#">
                                                <span>{{ cart_item.product_variant.product.product_slug }}</span>
                                            </a></h5>
                                            <span class="product-qty"><strong>Quantity:</strong> {{ cart_item.quantity }}</span>

                                            <div>
                                                {% for attribute in cart_item.product_variant.attribute_value.all %}
                                                    {% if attribute.attribute.attribute_name == 'color' %}
                                                        <p><strong>Color:</strong> {{ attribute.attribute_value }}</p>
                                                    {% elif attribute.attribute.attribute_name == 'size' %}
                                                        <p><strong>Size:</strong> {{ attribute.attribute_value }}</p>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            
                                        </td>
                                        <td><span> &#8377  {{ cart_item.product_variant.sale_price}}</span></td>
                                    </tr>
                                    {% endfor %}
                                   

                                    <tr>
                                        <th>SubTotal</th>
                                        <td class="product-subtotal" colspan="2">
                                            <span></span>
                                            <span id="sub_total" class="total-amount-no-discount"> &#8377 {{ total|floatformat:1 }}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Shipping</th>
                                        <td colspan="2"><em>Free Shipping</em></td>
                                    </tr>
                                    <tr>
                                        <th>Tax</th>
                                        <td id="tax" colspan="2">
                                            <em>{{tax}}</em>
                                        </td>
                                    </tr>
                                
                                    <tr>
                                        <th>Total</th>
                                        <td colspan="2" class="product-subtotal">
                                            <span class="font-xl text-brand fw-900"></span>
                                            <span id="total_amount" class=" font-xl text-brand fw-900">&#8377; {{ grand_total }}</span>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                        <div class="payment_method">
                            <div class="mb-25">
                                <h5>Payment</h5>
                            </div>
                            <div class="payment_option">
                                <div class="custome-radio">
                                    <input class="form-check-input"  type="radio" value="CashOnDelivery" name="payment_option" id="exampleRadios3" checked="">
                                        <label class="form-check-label" for="exampleRadios3" aria-controls="bankTranfer">
                                            Cash On Delivery
                                        </label>
                                    <div>
                                        <input class="form-check-input"  type="radio" value="RAZORPAY" name="payment_option" id="exampleRadios4" >
                                        <label class="form-check-label" for="exampleRadios4" aria-controls="bankTranfer">
                                            Online Payment
                                        </label>
                                    </div>

                                    <div>
                                        <input class="form-check-input"  type="radio" value="Wallet" name="payment_option" id="exampleRadios5" >
                                        <label class="form-check-label" for="exampleRadios5" aria-controls="bankTranfer">
                                            Wallet
                                        </label>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-brand btn-block mt-30" onclick="placeOrder()"> <a style="color:white;"> Place Order </a></button>
                    </div>
                    
                </div>
            </form>
        </div>
    </section>    

    <input type="hidden" id="total-amount" value="{{ total|floatformat:1 }}">
    <input type="hidden" id="csrf_token" value="{% csrf_token %}">
    
</main>

<script>

    function placeOrder() {
        document.getElementById('orderForm').submit();
    }

    const addressRadios = document.querySelectorAll('.address-radio');
    addressRadios.forEach(function (radio) {
        radio.addEventListener('change', function () {
            const addressId = this.value;
            updateDefaultAddress(addressId);
        });
    });

    function updateDefaultAddress(addressId) {
      
        fetch(`/set_default_address/${addressId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: JSON.stringify({}),
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                console.log('Default address updated successfully');
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    }
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    $(document).ready(function () {
        var token = $('input[name=csrfmiddlewaretoken]').val();
        $('#coupon-btn').on('click', function (e) {
            console.log('Button clicked!');
            e.preventDefault();

            const couponCode = $('#coupon-field').val();
            let totalAmount = document.getElementById("total_amount")
            let sub_total = document.getElementById("sub_total")
            let tax = document.getElementById("tax")


            let totalAmount_value = parseFloat(totalAmount.innerHTML.slice(1,totalAmount.length).slice(1, totalAmount.length));
            let sub_total_value = parseFloat(sub_total.innerHTML.slice(1,sub_total.length).slice(1, sub_total.length));
            let tax_value = parseFloat(tax.firstElementChild.innerHTML);
            console.log(sub_total_value);




            $.ajax({
                type: 'post',
                url: "{% url 'log:apply_coupon' %}",
                dataType: "json",
                data: { total: sub_total_value, couponCode: couponCode },
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": getCookie("csrftoken"),
                },

                success: (response) => {
                    console.log("\n\n responce :", response)
                    if (response.success) {
                        console.log(response.success);
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: response.message,
                            timer: 2000,
                            showConfirmButton: false,
                        });

                        sub_total_final = sub_total_value - response.coupon;
                        console.log(sub_total_final);
                        $('.total-amount-no-discount')
                            .css("text-decoration", "line-through")
                            .prev()
                            .text('\u20B9' + sub_total_final);
                        totalAmount.innerHTML = (sub_total_final + tax_value)
                        tax.firstElementChild.innerHTML = tax_value

                        $('#coupon-btn').hide();
                        $('#remove-coupon-btn').show();


                    } else {
                        console.log('thi si error');
                        console.log(response.error);
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: response.error,
                        });
                    }
                },
                error: (error) => {
                    console.log('error :')
                    console.log(error);
                }
            });
        });
    });

    $('#remove-coupon-btn').on('click', function (e) {
        e.preventDefault();
            let totalAmount = document.getElementById("total_amount");
            let sub_total = document.getElementById("sub_total");
            let tax = document.getElementById("tax");

            let totalAmount_value = parseFloat(totalAmount.innerHTML.slice(1,totalAmount.length).slice(1, totalAmount.length));
            let sub_total_value = parseFloat(sub_total.innerHTML.slice(1,sub_total.length).slice(1, sub_total.length));
            let tax_value = parseFloat(tax.firstElementChild.innerHTML);
        
            totalAmount.innerHTML = (sub_total_value + tax_value);
            sub_total_final.innerHTML=(sub_total_value );
            tax.firstElementChild.innerHTML = tax_value;
            document.getElementById("sub_total").innerHTML = '&#8377 ' + sub_total_value;
            location.reload()

            $('#remove-coupon-btn').hide();
    });

    
</script>

{% endblock %}















