{% extends 'user/base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block  body %}      

<section class="home-slider position-relative pt-50">
    <div class="col-lg-12">
        <div id="header-carousel">
            <div class="slick-carousel">
                {% for slide in main_slid %}
                    <div class="slick-slide {% if forloop.first %}active{% endif %}" style="height: 410px;">
                        <img class="img-fluid" src="{{ slide.slide_image.url }}" alt="Image">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h4 class="text-dark text-uppercase font-weight-medium mb-3">{{ slide.subheading }}</h4>
                                <h3 class="display-4 text-dark font-weight-semi-bold mb-4">{{ slide.heading }}</h3>
                                <a href="{% url 'log:shop' %}" class="btn btn-outline-warning py-2 px-3">Shop Now</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="slider-arrow hero-slider-1-arrow"></div>
        </div>
    </div>
</section>



<section class="banners mb-15 mt-15">
        
    </div>
    <div class="row">
        <div class="col-lg-5">

        </div>
        <div class="col-lg-4">
            <div class="mb-4">
                <h1>CATEGORIES</h1>
            </div>
        </div>
        <div class="col-lg-3">

        </div>
    </div>

    
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="banner-img wow fadeIn animated">
                    <img src="{% static 'image\home images\Untitled design (1).jpg' %}" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="banner-img wow fadeIn animated">
                    <img src="{% static 'image\home images\Untitled design (2).jpg' %}" alt="">
                </div>
            </div>
            <div class="col-lg-4 d-md-6 ">
                <div class="banner-img wow fadeIn animated">
                    <img src="{% static 'image\home images\Untitled design.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="deals section-padding">
    <div class="container">
        <div class="row">
                <div class="deal wow fadeIn animated mb-md-4 mb-sm-4 mb-lg-0" style="background-image: url('static/image/home images/banner img - 13.webp');">
                </div>
        </div>
    </div>
</section>

<section class="product-tabs section-padding position-relative wow fadeIn animated">
    <div class="bg-square"></div>
    <div class="container">
        <div class="tab-header">
        <h3 class="section-title mb-20"><span>Happy</span> Shopping</h3>
            
        </div>
        
        <div class="tab-content wow fadeIn animated" id="myTabContent">
            <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                <div class="row product-grid-4">
                    {% for product in products %}
                    <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                        <div class="product-cart-wrap mb-30">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="{% url 'log:product_detail' product.product_variant_slug %}">
                                        
                                        <img class="default-img" src="{% if product.thumbnail_image %}{{ product.thumbnail_image.url }}{% else %}{% static 'path/to/default/image.jpg' %}{% endif %}" alt="">
                                        <img class="hover-img" src="{% if product.product_images.all.0.image %}{{ product.product_images.all.0.image.url }}{% else %}{% static 'path/to/default/image.jpg' %}{% endif %}" alt="">

                                    </a>
                                </div>
                                <div class="product-action-1">
                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href="{% url 'log:add_wishlist' product.id %}"><i class="fi-rs-heart"></i></a>
                                </div>
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="hot">Hot</span>
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <div class="product-category">
                                    <a href="">{{product.product.product_catg.category_name}}</a>
                                </div>
                                <h2><a href="{% url 'log:product_detail' product.product_variant_slug %}">{{product.product.product_name}}</a></h2>
                                <div class="rating-result" title="90%">
                                    <span>
                                        <span>90%</span>
                                    </span>
                                </div>
                                <div class="product-price">
                                    <span>{{product.sale_price}}</span>
                                    <span class="old-price">{{product.max_price}}</span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

</section>
   

<section class="mb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="banner-bg wow fadeIn animated" style="background-image: url('static/image/banner/banner-8.jpg')">
                    <div class="banner-content">
                        <h5 class="text-grey-4 mb-15">Shop Today’s Deals</h5>
                        <h2 class="fw-600">Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to 40%</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
<section class="featured section-padding position-relative">            
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                <div class="banner-features wow fadeIn animated hover-up">
                    <img src="static/image/theme/icons/feature-1.png" alt="">
                    <h4 class="bg-1">Free Shipping</h4>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                <div class="banner-features wow fadeIn animated hover-up">
                    <img src="static/image/theme/icons/feature-2.png" alt="">
                    <h4 class="bg-3">Online Order</h4>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                <div class="banner-features wow fadeIn animated hover-up">
                    <img src="static/image/theme/icons/feature-3.png" alt="">
                    <h4 class="bg-2">Save Money</h4>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                <div class="banner-features wow fadeIn animated hover-up">
                    <img src="static/image/theme/icons/feature-4.png" alt="">
                    <h4 class="bg-4">Promotions</h4>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                <div class="banner-features wow fadeIn animated hover-up">
                    <img src="static/image/theme/icons/feature-5.png" alt="">
                    <h4 class="bg-5">Happy Sell</h4>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                <div class="banner-features wow fadeIn animated hover-up">
                    <img src="static/image/theme/icons/feature-6.png" alt="">
                    <h4 class="bg-6">24/7 Support</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
    $(document).ready(function(){
        $('#header-carousel .slick-carousel').slick({
            dots: false,
            infinite: true,
            speed: 500,
            fade: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            prevArrow: '<div class="btn btn-dark slick-prev" style="width: 45px; height: 45px;"><span class="carousel-control-prev-icon mb-n2"></span></div>',
            nextArrow: '<div class="btn btn-dark slick-next" style="width: 45px; height: 45px;"><span class="carousel-control-next-icon mb-n2"></span></div>',
        });
    });
</script>


{% endblock %}