{% extends 'user/base.html' %}
{% load static %}
{% block title %} Otp verification {% endblock %}
{% block  body %}
<section class="pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                            <div class="padding_eight_all bg-white">
                                <div class="heading_s1">
                                    <h3 class="mb-30">Otp verification</h3>
                                </div>
                                <div class="form-group">
                                    {% for message in messages %}
                                    <div class="alert alert-danger" role="alert">
                                        {{message}}
                                    </div>
                                    {% endfor %}
                                </div>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        
                                        <input type="text" name="otp" placeholder="Enter your otp hear" required>
                                    </div>
                                    <div class="login_footer form-group">
                                        
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-fill-out btn-block hover-up" name="">Verify</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-6">
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}