{% extends 'user/base.html' %}
{% load static %}
{% block title %} Product Detail {% endblock %}
{% block body %}

<section class="mt-50 mb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="product-detail accordion-detail">
                    <div class="row mb-50">
                        
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-gallery">
                                <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                
                                <div class="product-image-slider">
                                    {% for image in product_images %}
                                    <figure class="border-radius-10">
                                        <img src="{{image.url}}" alt="product image1">
                                    </figure>
                                    {% endfor %}
                                </div>
                                
                                <div class="slider-nav-thumbnails pl-15 pr-15">
                                    {% for image in product_images %}
                                    <div><img src="{{image.url}}" alt="product image"></div>
                                    {% endfor %}
                                </div>
                            </div>
                            
                        </div>

                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-info">

                                
                                <h2 class="title-detail">{{single_product.product.product_name}}</h2>

                                <div class="product-detail-rating">
                                    <div class="pro-details-brand">
                                        <span> Brands: <a href="shop-grid-right.html">{{single_product.product.product_brand}}</a></span>
                                    </div>
                                    <div class="product-rate-cover text-end">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width:90%"></div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                    </div>
                                </div>

                                
                                <div class="clearfix product-price-cover">
                                    <div class="product-price primary-color float-left">
                                        <ins><span class="text-brand">{{single_product.sale_price}}</span></ins>
                                        <ins><span class="old-price font-md ml-15">{{single_product.max_price}}</span></ins>
                                        <span class="save-price  font-md color3 ml-15">25% Off</span>
                                    </div>
                                </div>
                                <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                <div class="short-desc mb-30">
                                    {{single_product.product.product_description}}    
                                </div>

                                
                                <form method="post" action="{% url 'cart_mng:add_cart' id=single_product.product.id  %}">     
                                    {% csrf_token %}
                               
                                    
                                    
                                    <div class="attr-detail attr-color mb-15">
                                        <strong class="mr-10">Color</strong>
                                        <select class="js-select2" name="color" required>
                                                {% for value in color %}

                                                    <option value="{{ value.attribute_value }}">{{ value.attribute_value | capfirst }}</option>

                                                {% endfor %}
                                        </select>
                                    </div>
                                    
                                    <div class="attr-detail attr-color mb-15">
                                        <strong class="mr-10">Size </strong>
                                        <select class="js-select2" name="size" required>

                                                {% for value in size %}

                                                    <option value="{{ value.attribute_value }}">{{ value.attribute_value | capfirst }}</option>

                                                {% endfor %}
                                        
                                        </select>
                                    </div> 
                                
                                    <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                    <div class="detail-extralink">
                                        <div class="detail-qty border radius">
                                            <a onclick='minus_item()'  class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                            <input value='1' name="input" id="quantityInput" type="hidden" >
                                            <span id='quantitySpan' class="qty-val">1</span>
                
                                            <a  onclick='plus_item()' class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                        </div>
                                        
                                        {% if single_product.stock > 0 %}
                                            <button type="submit" class="button button-add-to-cart">Add to cart</button>
                                        {% else %}
                                            <p class="text-danger">Out of Stock</p>
                                        {% endif %}
                                        
                                        <a aria-label="Add To Wishlist" class="action-btn hover-up" href="{% url 'log:add_wishlist' single_product.id %}"><i class="fi-rs-heart"></i></a>
                                        
                                    </div>
                                </form>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
                                   
    function plus_item(){
        var quantitySpan = document.getElementById('quantitySpan');
        var quantityInput = document.getElementById('quantityInput');
        var currentQuantity = parseInt(quantityInput.value);

        // Ensure the new quantity doesn't exceed the stock value
        var newQuantity = currentQuantity + 1;

        quantitySpan.innerText = newQuantity;
        quantityInput.value = newQuantity;
        var val=document.getElementById('quantityInput').value;
        console.log(val);
    }
    function minus_item() {

        var quantityElement = document.getElementById('quantitySpan');
        var quantityInput = document.getElementById('quantityInput');
        var currentQuantity = parseInt(quantityElement.textContent);

        if (currentQuantity > 1) {
            quantityElement.textContent = currentQuantity - 1;
            quantityInput.value = currentQuantity - 1;
            var val=document.getElementById('quantityInput').value;
           console.log(val);
        }
    }
</script>


{% endblock %}

