{% extends 'user/base.html' %}
{% load static %}
{% block title %} Shop {% endblock %}
{% block  body %}

<section class="mt-50 mb-50">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-9">
               
                <div class="row product-grid-3">
                    {% for product in products %}
                    <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                        <div class="product-cart-wrap mb-30">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="{% url 'log:product_detail' product.product_variant_slug %}">

                                        <img class="default-img" src="{{product.thumbnail_image.url}}" alt="">
                                        <img class="hover-img" src="{{product.product_images.all.0.image.url}}" alt="">
                                    </a>
                                </div>
                                <div class="product-action-1">
                                    <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal">
<i class="fi-rs-search"></i></a>
                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                    <a aria-label="Compare" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-shuffle"></i></a>
                                </div>
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="hot">Hot</span>
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <div class="product-category">
                                    <a href="">{{product.product.product_catg.category_name}}</a>
                                </div>
                                <h2><a href="{% url 'log:product_detail' product.product_variant_slug %}">{{product.product.product_name}}</a></h2>
                                <div class="rating-result" title="90%">
                                    <span>
                                        <span>90%</span>
                                    </span>
                                </div>
                                <div class="product-price">
                                    <span>{{product.sale_price}} </span>
                                    <span class="old-price">{{product.max_price}}</span>
                                </div>
                                <div class="product-action-1 show">
                                    <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                      
                </div>

                <!--pagination-->
                <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">16</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="fi-rs-angle-double-small-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="col-lg-3 primary-sidebar sticky-sidebar">
                <div class="widget-category mb-30">
                    <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                    <ul class="categories">
                        {% for category in categories %}
                            <li><a href="{% url 'log:shop_category' slug=category.slug %}">{{ category.category_name }}</a></li>
                        {% endfor %}
                    </ul>                    
                </div>
                <!-- sorting product -->
                <form method="get" action="{% url 'log:shop' %}">
                    <div class="form-group">
                        <label for="sort_by"><strong>Sort by</strong>:</label>
                        <select name="sort_by" id="sort_by">
                            <option value="name" {% if current_sort == 'name' %}selected{% endif %}>Name</option>
                            <option value="price_low_high" {% if current_sort == 'price_low_high' %}selected{% endif %}>Price: Low to High</option>
                            <option value="price_high_low" {% if current_sort == 'price_high_low' %}selected{% endif %}>Price: High to Low</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-sm btn-default"><i class="fi-rs-filter mr-5"></i> Apply Filter</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}