{% extends 'admin/base.html' %}
{% load static %}
{% block title %} Brand {% endblock %}
{% block  body %}

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Brands</h2>
            <p>Add or delete a brand</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <form method="post" action="{% url 'product_mng:add_brand' %}">
                        {% csrf_token %}
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Name</label>
                            <input type="text" placeholder="Type here" class="form-control" id="product_name" name="brand_name"/>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary">Create Brand</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Availability</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for brand in brands %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td><b>{{brand.brand_name}}</b></td>
                                    <td>
                                        <button  class="{% if not brand.is_active %}btn btn-outline-danger{% else %}btn btn-outline-success{% endif %}">
                                            {% if not brand.is_active %}Available {% else %} not Available{% endif %}
                                        </button>
                                    </td>
                                    <td class="text-end" >
                                        <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                            <div class="dropdown-menu"> 
                                                <a class="dropdown-item" href="{% url 'product_mng:brand_available' brand.id %}">{% if not brand.is_active %}Mark Available {% else %}Mark Unavailable{% endif %}</a>
                                                <a class="dropdown-item text-danger" href="{% url 'product_mng:delete_brand' brand.id %}">Delete</a>
                                            </div>
                                        </div> <!-- dropdown //end -->
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div> <!-- .col// -->
            </div> <!-- .row // -->
        </div> <!-- card body .// -->
    </div> <!-- card .// -->
</section>

{% endblock %}