{% extends 'admin_temp/base.html' %}
{% load static %}
{% block title %} Attribute {% endblock %}
{% block  body %}

    {% include 'admin_temp/general-alerts/alerts.html' %}
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Attributes </h2>
            <p></p>
        </div>
      
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <form method="post" action="{% url 'product_mng:add_attribute' %}">
                        {% csrf_token %}
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Attribute Name</label>
                            <input type="text" placeholder="Type here" class="form-control" id="product_name" name="attribute_name"/>
                        </div>
                        
                        
                        <div class="d-grid">
                            <button class="btn btn-primary">Create Attribute</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th >Availability</th>
                                    <th >Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for attribute in attributes %}
                                <tr>
                                    <td>{{attribute.id}}</td>
                                    <td><b>{{attribute.attribute_name}}</b></td>
                                    <td>
                                        <button  class="{% if not attribute.is_active %}btn btn-outline-danger{% else %}btn btn-outline-success{% endif %}">
                                            {% if not attribute.is_active %}Not Available {% else %}Available{% endif %}
                                        </button>
                                    </td>
                                    <td >
                                        <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="{% url 'product_mng:edit_attribute' attribute.id %}">edit_info</a>
                                                <a class="dropdown-item" href="{% url 'product_mng:attribute_available' attribute.id %}">{% if not attribute.is_active %}Mark Available {% else %}Mark Unavailable{% endif %}</a>
                                                <a class="dropdown-item text-danger" href="{% url 'product_mng:delete_attribute' attribute.id %}">Delete</a>
                                            </div>
                                        </div> 
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div> 
            </div> 
        </div> 
    </div> 
</section>


{% endblock %}