{% extends 'admin_temp/base.html' %}
{% load static %}
{% block title %} Edit Category {% endblock %}
{% block  body %}
<div class="card">
    <div class="card-body">
        <div class="container ">
            <div class="col-md-3">
                <form method="post" action="#">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="product_name" class="form-label">Name</label>
                        <input type="text" placeholder="Type here" value="{% if request.user.is_authenticated %}{{ category_name }}{% endif %}" class="form-control" id="" name="category_name"/>
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Description</label>
                        <textarea placeholder="Type here"   class="form-control" name="description">{% if request.user.is_authenticated %}{{ category_disc }}{% endif %}</textarea>
                        
                    </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-sm rounded col-lg-12">Apply Changes</button>
                        </div>
                </form>
            </div>

        </div>
    </div>
</div>



{% endblock %}