{% extends 'admin_temp/base.html' %}
{% load static %}
{% block title %} Order List {% endblock %}
{% block body%} 

<section class="content-main">
    <div class="content-header">
        {% include 'admin_temp/general-alerts/alerts.html' %}

        
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <form action="" method="post">
                {% csrf_token %}
                <div class="row gx-3">
                
                    <div class="col-lg-4 col-md-6 me-auto">
                        <strong>Order Lists</strong>
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <select name="status" class="form-control">
                            <option value="all" {% if status == 'all' %} selected {% endif %}>All</option>
                            <option value="New" {% if status == 'New' %} selected {% endif %}>New</option>
                            <option value="Conformed" {% if status == 'Conformed' %} selected {% endif %}>Conformed</option>
                            <option value="Shipped" {% if status == 'Shipped' %} selected {% endif %}>Shipped</option>
                            <option value="Delivered" {% if status == 'Delivered' %} selected {% endif %}>Delivered</option>
                            <option value="Cancelled" {% if status == 'Cancelled' %} selected {% endif %}>Cancelled</option>
                            <option value="Return" {% if status == 'Return' %} selected {% endif %}>Return</option>
                        </select> 
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </div>
                </div>
            </form>
        </header> <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Total</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date</th>
                            <th scope="col" class="text-end"> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>{{order.order_number}}</td>
                            <td><b>{{order.user.username}}</b></td>
                            <td>{{order.user.email}}</td>
                            <td>{{order.order_total}}</td>
                            <td><span class="badge rounded-pill  
                                {% if order.status == 'Conformed' %} 
                                    bg-primary 
                                {% elif order.status == 'Shipped' %}
                                    bg-info
                                {% elif order.status == 'Delivered' %}
                                    bg-success
                                {% elif order.status == 'Cancelled' %}
                                    bg-danger
                                {% else %}
                                bg-secondary
                                {% endif %}
                                ">{{order.status}}</span></td>
                            <td>{{order.created_at}}</td>
                            <td class="text-end">
                                
                                <a href="{% url 'admin_log:order_detail' order.id %}"> View</a>
                            </td>   
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> <!-- table-responsive //end -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                {% if orders.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ orders.previous_page_number }}">Previous</a></li>
                {% endif %}
    
                {% for i in orders.paginator.page_range %}
                    {% if orders.number == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
    
                {% if orders.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ orders.next_page_number }}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ orders.paginator.num_pages }}">Last</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</section>
{% endblock %}         
        