{% extends 'admin_temp/base.html' %}
{% load static %}
{% block title %} Product list {% endblock %}
{% block  body %}

<style>
    .dropdown-custom{
        background-color: rgb(207, 200, 200);
    }
</style>

<section class="content-main">
    {% include 'admin_temp/general-alerts/alerts.html' %}
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Products List</h2>
        </div>
        <div>

            <a href={% url "product_mng:add_product" %} class="btn btn-primary btn-sm rounded">Create new</a>
        </div>
    </div>

    <div class="card mb-4">
        <header class="card-header">
            <div class="row align-items-center">
                
            </div>
        </header> <!-- card-header end// -->

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Product</th> 
                                                            
                            <th class="text-end">Availability</th>
                            <th class="text-end">Action</th> 
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in product_values %}
                            <tr>
                                {% with product_variant=product.productvariant_set.first %}
                                    <td>
                                        {% if product_variant and product_variant.thumbnail_image %}
                                            <img src="{{ product_variant.thumbnail_image.url }}" class="img-sm img-thumbnail" alt="Thumbnail image">
                                        {% else %}
                                            <span>No Image Available</span>
                                        {% endif %}
                                    </td>
                                {% endwith %}
                                <td><a href="#"> <h6 class="mb-0">{{ product.get_product_name }}</h6></a></td>
                                <td class="text-end">
                                    <span class="badge rounded-pill {% if product.is_active %} alert-success {% else %} alert-danger {% endif %}">
                                        {% if product.is_active %} Active {% else %}Inactive {% endif %}
                                    </span>
                                </td>
                                <td class="text-end" >
                                    <div class="dropdown">
                                        <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm text-secondary fw-bold font-sm"> 
                                            More
                                        </a>
                                        <div class="dropdown-menu dropdown-custom">
                                            <a class="dropdown-item" href="{% url 'product_mng:edit_product' product.id %}">edit_info</a>
                                            <a class="dropdown-item" href="{% url 'product_mng:variant_list' product.id %}">Available variants</a>
                                            <a class="dropdown-item" href="{% url 'product_mng:add_product_variant' product.id %}">Add Variant</a>
                                            <a class="dropdown-item" href="{% url 'product_mng:product_control' product.id %}">
                                                {% if not product.is_active %}Enable {% else %}Disable{% endif %}
                                            </a>
                                        </div>
                                    </div> 
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div> 
    </div> 
    
</section> 

{% endblock %}